body {
    text-align: center;
}

a {
    color: blue; /* Màu chữ mặc định */
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
    padding-right: 10px;
}

/* Màu cho liên kết đã nhấp */
a:visited {
    color: green;
}

/* Màu và kiểu chữ khi di chuột qua liên kết */
a:hover {
    color: red; /* Màu chữ khi di chuột qua */
    text-decoration: underline; /* Thêm gạch chân khi di chuột qua */
}

